{
    "parser": "babel-eslint",
    "extends": [
      "plugin:react/recommended",
      "eslint:recommended",
      "plugin:prettier:recommended"
    ],
    "env": {
      "browser": true,
      "es6": true,
    },
    "plugins": [
      "react",
      "react-hooks",
      "prettier"
    ],
    "settings": {
      "react": {
        "version": "detect"
      }
    }
  }